.news__for {
  color: var(--variable-7);
}

.for__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.for__titles p {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.for__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.for__row .for__cell {
  padding: 7px 17px;
  line-height: 150%;
  border: solid 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.for__row .for__cell:last-child {
  color: var(--variable-13);
}

.for__row .for__cell.cell-selected {
  color: var(--variable-13);
}
