root = true

# Для всех файлов используем unix-совместимые переносы строк
[*]
end_of_line = lf
insert_final_newline = true

# Set default charset
[*.]
charset = utf-8

# отступы в 2 пробела
[*.]
indent_style = space
indent_size = 2
