:root {
  --white: #fff;
  --danger: #F44336;
  --main-black: #535C69;
  --gray-light: #9E9E9E;
  --gray-hover: #f6f8f9;
  --red: #FF3B30;
  --blue: #018AE4;
  --yellow: rgba(205, 220, 57, 0.2);
  --variable-1: #7BD500;
  --variable-2: #66AFE9;
  --variable-3: #FF5752;
  --variable-4: #D5A933;
  --variable-5: #C6CDD3;
  --variable-6: #216BB6;
  --variable-7: #868D95;
  --variable-8: #5B6573;
  --variable-9: #3B506E;
  --variable-10: #F54819;
  --variable-11: #9DCF00;
  --variable-12: #2FC6F6;
  --variable-13: #333333;
  --variable-14: #1058D0;
  --variable-15: #545C6A;
  --variable-16: #BBED21;
  --variable-17: #F2F4F5;
  --variable-18: #DAE8EE;
  --variable-23: #C6EDFA;
  --material-4: #673AB7;
  --material-6: #03A9F4;
  --material-8: #009688;
  --transparency-1: rgba(255, 255, 255, 0.5);
  --transparency-2: rgba(0, 0, 0, 0.06);
  --transparency-3: rgba(0, 0, 0, 0.1);
  --transparency-4: rgba(255, 255, 255, 0.15);
  --shadow-1: 0px 8px 20px rgba(157, 191, 214, 0.25);
  --z-index-modal: 10;
}
