:root {
  --white: #fff;
  --danger: #f44336;
  --main-black: #535c69;
  --gray-light: #9e9e9e;
  --gray-hover: #f6f8f9;
  --gray: #f3f3f3;
  --blue-gray: #e8f1f7;
  --gray-4: #bdbdbd;
  --red: #ff3b30;
  --blue: #018ae4;
  --yellow: rgba(205, 220, 57, 0.2);
  --orange: #ffb680;
  --variable-1: #7bd500;
  --variable-2: #66afe9;
  --variable-3: #ff5752;
  --variable-4: #d5a933;
  --variable-5: #c6cdd3;
  --variable-6: #216bb6;
  --variable-7: #868d95;
  --variable-8: #5b6573;
  --variable-9: #3b506e;
  --variable-10: #f54819;
  --variable-11: #9dcf00;
  --variable-12: #2fc6f6;
  --variable-13: #333333;
  --variable-14: #1058d0;
  --variable-15: #545c6a;
  --variable-16: #bbed21;
  --variable-17: #f2f4f5;
  --variable-18: #dae8ee;
  --variable-19: #e5e8ea;
  --variable-23: #c6edfa;
  --material-4: #673ab7;
  --material-6: #03a9f4;
  --material-8: #009688;
  --material-10: #8bc34a;
  --material-13: #ffc107;
  --transparency-1: rgba(255, 255, 255, 0.5);
  --transparency-2: rgba(0, 0, 0, 0.06);
  --transparency-3: rgba(0, 0, 0, 0.1);
  --transparency-4: rgba(255, 255, 255, 0.15);
  --shadow-1: 0px 8px 20px rgba(157, 191, 214, 0.25);
  --z-index-modal: 1000;
  --input-border-hover: #51cbee;
  --big-line: #7d7d7d;
  --filter-label: #a0a5ab;
  --filter-border: #e7eaec;
  --green-btn-background-hover: #d2f95f;
  --white-btn-background-hover: #cfd4d8;
  --btns-border: #f2f3f4;
  --filter-active-item: #0fa7d7;
  --gray-5: #80868e;
  --select-columns-background: #b3eafc;
  --select-columns-text: #535c69;
  --select-columns-border: #3b99fc;
}
