* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif
}

body {
  overflow-x: hidden;
  min-width: 320px;
  background-image: url("../images/mountain-air 1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.pick-image {
  position: absolute;
  top: 29px;
  left: 18px;
  font-family: 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--variable-17);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  svg path {
    transition: all 0.25s ease-in-out;

  }
  &:hover {
    color: var(--variable-12);
    svg path {
      stroke: var(--variable-12);
    }
  }
}
img {
  width: 100%;
  max-height: 100%;
}

.container {
  width: 100%;
  max-width: 1252px;
  margin-left: 52px;
  margin-right: auto;
}

.link {
  color: var(--variable-14);
  text-decoration: none;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;

  &__title {
    font-family: 'OpenSans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 150%;
    color: var(--white);
    margin-right: 30px;
    display: flex;
    align-items: center;
    gap: 0 15px;
  }

  &__search {
    width: 100%;
    margin-right: 20px;
  }

  &__action {
    min-width: 204px;
  }
}

@import './imports';
