* {
  box-sizing: border-box;
  font-family: 'Halvetica', sans-serif
}

body {
  overflow-x: hidden;
  min-width: 320px;
  background-image: url("../images/mountain-air 1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  max-width: 1252px;
  margin-left: 52px;
  margin-right: auto;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 150%;
    color: var(--white);
    margin-right: 30px;
    display: flex;
    align-items: center;
    gap: 0 15px;
  }

  &__search {
    width: 100%;
    margin-right: 20px;
  }

  &__action {
    min-width: 204px;
  }
}

@import './imports';
