.select-columns {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 14px;
    color: var(--gray-5);
    font-weight: bold;
    margin-bottom: 25px;
  }
  &__options {
    display: flex;
    gap: 5px 15px;
    flex-wrap: wrap;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--filter-border);
    margin-bottom: 20px;
  }
  &__option {
    color: var(--select-columns-text);
    font-size: 14px;
    flex: 0 0 calc(25% - 0.75 * 15px);
    padding: 8px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid transparent;
    outline: none;
    position: relative;

    .select-columns__edit {
      position: absolute;
      top: 50%;
      right: 4px;
      transform: translate(0, -50%);
      opacity: 0;
      transition: opacity 0.2s ease;
      height: 24px;
      width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover .select-columns__edit {
      opacity: 1;
    }

    &:hover {
      background-color: var(--select-columns-background);
    }

    &--checked {
      background-color: var(--select-columns-background);
    }

    &--editting {
      background-color: transparent;
      border: 1px solid var(--blue);
      &:hover {
        background-color: transparent;
      }

      .select-columns__edit {
        opacity: 1;

        border-radius: 50%;
        background-color: var(--variable-16);
      }
    }
  }
  &__checkbox {
    margin-right: 5px;
  }
  &__label {
    flex: 1 1 auto;
    cursor: inherit;
    outline: none;
    border: none;
    color: var(--select-columns-text);
    padding: 0;
  }
  &__btns {
    display: flex;
    justify-content: space-between;
  }
  &__return {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.2s ease;
    &:hover {
      opacity: 1;
    }
  }
  &__main-btns {
    display: flex;
  }
  &__additional-btns {
    display: flex;
    gap: 15px;
  }
}
