.card-header {
  display: flex;
  justify-content: space-between;
}

.card-button {
  background: transparent;
  color: #1058D0;
  padding: 0;

  margin-bottom: 20px;
}

label {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px
}
