.select-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  &--active {
    .select-wrapper__toggle {
      transform: rotate(180deg);
    }

    .select-wrapper__select {
      border-color: var(--input-border-hover);
    }
  }

  &__label {
    color: var(--gray-light);
  }

  &__placeholder {
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    user-select: none;
    cursor: pointer;
  }

  &__select {
    position: relative;
    padding: 10px;
    color: var(--variable-13);
    border: 1px solid var(--variable-5);
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background: var(--white);

    &-input {
      position: absolute;
      opacity: 0;
      top: 10px;
      width: calc(100% - 20px);
      cursor: pointer;
    }

    &:focus {
      outline: none;
      border-color: var(--input-border-hover);
    }
  }

  &__toggle {
    transition: all 0.25s ease-in-out;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--variable-5);
  }

  &__list {
    position: absolute;
    z-index: var(--z-index-modal);
    width: 100%;
    background: var(--white);
    box-shadow: 0 7px 21px rgb(83 92 105 / 12%),
    0 -1px 6px 0 rgb(83 92 105 / 6%);
    overflow: auto;
    max-height: 230px;
    margin: 0;
    padding: 10px 0;
    list-style-type: none;
    top: 100%;
    // top: calc(100% - 20px);
  }

  &__item {
    color: var(--variable-13);
    line-height: 36px;
    padding: 0 15px;
    transition: all 0.25s ease-in-out;
    user-select: none;
    cursor: pointer;

    &:hover {
      background: var(--gray-hover);
    }

    &.active {
      font-weight: bold;
      background-color: var(--gray);
    }
  }
}
