.house__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-list {
    display: flex;
    gap: 50px;
  }

  &-item {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  &-title {
    @include font(12px, 150%);
    color: var(--variable-7);
  }
}

:deep(.select-wrapper) {
  min-width: 60px;
  @include font(12px, 150%);
}

:deep(.select-wrapper__select) {
  background: var(--variable-5);
  border: none;
  padding: 4.5px 10px;
  border-radius: 0;
}

:deep(.select-wrapper__toggle) {
  color: var(--variable-13);
}

.entryway-list {
  display: flex;
  gap: 5px;
  overflow: auto;
  max-width: 230px;
  @include scrollbar();

  &__item {
    padding: 10px;
    width: 30px;
    height: 30px;
    background-color: var(--variable-5);
    font-family: inherit;
    font-size: 12px;
    line-height: 150%;
    font-weight: 400;
    font-style: normal;
    color: var(--variable-13);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease;

    &--active {
      background-color: var(--variable-16);
    }

  }
}
