.house__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-list {
    display: flex;
    gap: 50px;
  }

  &-item {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  &-title {
    @include font(12px, 150%);
    color: var(--variable-7);
  }
}

:deep(.select-wrapper) {
  min-width: 60px;
  @include font(12px, 150%);
}

:deep(.select-wrapper__select) {
  background: var(--variable-5);
  border: none;
  padding: 4.5px 10px;
  border-radius: 0;
  min-height: 30px;
}

:deep(.select-wrapper__toggle) {
  color: var(--variable-13);
}
