:global(.modal-tags.modal-wrapper--centered .modal__close) {
  position: absolute;
  right: 25px;
  top: 72px;
  left: initial;
}

.tags-wrapper__actions {
  display: grid;
  gap: 20px;
  width: 100%;
  grid-template-columns: 300px 1fr;
  position: relative;

  &-add {
    position: absolute;
    right: 0;
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 31px;
    cursor: pointer;
  }

  :deep(.input-link) {
    color: var(--variable-14);
  }
}
