

.select {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  &__label {
    color: var(--gray-light);
  }

  &__cell{
    white-space: nowrap;
    font-size: 14px;
    line-height: 150%;
    color: var(--variable-13);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 11px;
    padding: 0px 8px;
    border-radius: 2px;
    background-color: var(--variable-23);
    margin-right: 6px;
    &-btn{
      & svg{
        pointer-events: none;
        & path{
          stroke: var(--variable-7);  
        }
      }
      width: 10px;
      height: 13px;
    }
  }

  &__input{
    // position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 10001;
    border: 1px solid var(--variable-5);
  }

  &__select{
    position: relative;
    border-radius: 3px;
    border: 1px solid var(--variable-5);
    display: flex;
    background-color: #fff;
    align-items: center;
    padding: 10px 12px;
    color: var(--variable-15);
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
		transition: all .3s ease-in-out;
		cursor: pointer;
		&--active{
			border-color: var(--input-border-hover);
		}
    &-content{
      display: flex;
			gap: 5px;
			flex-wrap: wrap;
    }
  }
  &__filter{
    width: 100%;
    &-container{
      flex:1 1 auto;
      padding: 0px;
    }
    flex: 1 1 auto;
  }

  &__list{
    overflow-y: scroll;
    box-shadow: 0 7px 21px rgb(83 92 105 / 12%), 0 -1px 6px 0 rgb(83 92 105 / 6%);
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
    list-style: none;
    font-size: 12px;
    color: #535c69;
    display: flex;
    flex-direction: column;
    max-height: 300px;
  }

  &__item{
    color: var(--variable-13);
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    padding: 0 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
      color: black;
      background: var(--gray-hover);
    }
    &.active{
      color:#fff;
      background-color: var(--variable-12);;
    }
  }
  &__checkbox{
    margin-right: 5px;
  }
  &__container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
  }

  &__btn{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    & svg path{
      transition: all 0.3s ease;
      fill:var(--variable-7)
    }
  }

  &__add-btn{
    font-size: 12px;
    color: var(--variable-14);
    cursor: pointer;
    white-space: nowrap;
  }
}

:global(.select .v-popper__popper){
	width: 100%;
}
:global(.v-popper__inner){
  overflow: hidden;
}


