p{
	color: var(--variable-17);
}
.search{
	height: 38px;
	border-radius: 3px;
	border: 1px solid #F2F4F5;
	background-color: rgba(255,255,255,0.5);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 12px;


	&-filter{
		flex: 1 1 auto;
		.search-input{
			font-size: 14px;
			color: var(--variable-17);
			background: transparent;
			width: 100%;
			border: none;

			&:focus-visible{
				outline: none;
			}
		}
	}

	&-btns{
		display: flex;
		gap: 8px;
		align-items: center;
		justify-content: center;
	}
}

button{
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
	&.search-searchBtn{
		height: 16px;
		width: 16px;
	}
	&.search-clearBtn{
		width: 18px;
		height: 18px;
	}
}
