.news {
  position: relative;
  overflow: hidden;
  height: 660px;
  background: var(--variable-17);

  &--action {
    padding-bottom: 70px;
  }

  &:deep(.table-wrapper) {
    height: 660px;
  }
}

.table-action {
  position: absolute;
  bottom: 0;
  background: #F2F4F5;
  box-shadow: 0px -4px 1px rgb(140 140 140 / 15%);
  border-radius: 15px 0 0 0;
  width: 100%;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  padding: 0 17px 0 24px;

  &::before {
    content: "";
    height: 100%;
    width: 100%;
    background: #f2f4f5;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  &__buttons {
    display: flex;
  }

  &__selected {
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--variable-8);

    span {
      color: var(--variable-13);
    }
  }
}

.badges-list {
  display: flex;
  flex-direction: column;
  gap: 6px;

  &__row {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;

    &-wrapper {
      display: flex;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 6px;

    &-all {
      font-family: 'Helvetica', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      display: flex;
      align-items: center;
      letter-spacing: 0.01em;
      color: var(--variable-14);
      text-decoration: none;
      background: none;
      border: none;
      cursor: pointer;
    }

    &-wrapper {
      display: flex;
      gap: 6px;
    }
  }
}

:global(.settings-popup .v-popper__inner) {
  border-radius: 0;
}

.settings-button {
  cursor: pointer;

  svg {
    path {
      transition: all 0.25s ease-in-out;
    }
  }

  &:hover {
    svg {
      path {
        fill: var(--blue);
      }
    }
  }
}

.settings {
  padding: 10px 0;

  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__item {
    padding: 0 30px;
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--variable-8);
    transition: all 0.25s ease-in-out;

    &:hover {
      background: var(--gray-hover);
    }
  }
}

.contacts-column {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 5px;
}

.visibility-hidden {
  visibility: hidden;
}

:deep(.transparent-background) {
  background-color: transparent;
}

.table__thead-th-settings {
  svg {
    cursor: pointer;

    path {
      transition: all 0.25s ease-in-out;
    }

    &:hover path {
      fill: var(--blue)
    }
  }
}
