.badges-list {
  display: flex;
  flex-direction: column;
  gap: 6px;

  &__row {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
  }
  &-contacts .badges-list__row{
    flex-direction: column;
    align-items: baseline;
    & .badge{
      border: 1px solid #000;
      align-self: baseline;
    }

  }
}

.badges-list__row-wrapper{
  display: flex;
}

.visibility-hidden{
  visibility:hidden;
}

:deep(.transparent-background){
  background-color: transparent;
}
