.house {
  padding: 30px;

  &__template {
    display: flex;
    margin-top: 40px;
  }

}

.template-body__entryway {
  display: flex;
  gap: 10px;
  margin-bottom: 7px;

  &-item {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
    color: var(--variable-8);
    @include font(12px, 150%);
    white-space: nowrap;
    cursor: pointer;
  }
}

.template-floors {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-top: 10px;

  border-right: 1px solid var(--variable-19);

  &__item {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--variable-8);
    @include font(10px, 150%);
  }
}

.template-body {
  display: flex;
  flex-direction: column;
  gap: 3px;
  overflow: auto;
  padding: 10px 30px 0;
  border-top: 1px solid var(--variable-19);

}

.template-body__floor {
  display: flex;
  gap: 10px;
}

.template-body__entry {
  display: flex;
  gap: 3px;

  &--active {
    .template-body__premise {
      background: var(--variable-16);
    }
  }
}

.template-body__premise {
  display: flex;
  width: 40px;
  height: 30px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--variable-19);
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--variable-8);
  @include font(10px, 150%);
  transition: background-color 0.2s ease;
  cursor: pointer;

  &--active {
    background: var(--variable-16);

  }
}
