.contacts {
  &-btn {
    position: relative;
  }

  &-button {
    border: none;
    background-color: transparent;
    color: var(--variable-14);
    cursor: pointer;
    white-space: nowrap;
  }

  &-popup {
    &-card {
      position: absolute;
      top: 20%;
      left: 0;
      z-index: 1;
      border: 1px solid #d3d3d3;
      border-radius: 3px;
      overflow: hidden;
    }

    &-column {
      background-color: #f8f8f8;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      gap: 5px;
      padding: 40px 40px 25px 18px;
    }

    &-person {
      margin: 0;
      padding: 3px 10px;
      background-color: var(--variable-23);
      border-radius: 2px;
      white-space: nowrap;
    }
  }
}

.close-svg {
  position: absolute;
  top: 14px;
  right: 11px;
  padding: 2px;
  cursor: pointer;
}

.tooltip-arrow {
  display: none;
}

:global(.contacts-vmenu .v-popper__arrow-container) {
  display: none;
}
