.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  &__label {
    color: var(--gray-light);
  }

  &__input {
    padding: 10px;
    color: var(--variable-13);
    border: 1px solid var(--variable-5);
    border-radius: 2px;
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    &::-webkit-calendar-picker-indicator {
      color: rgba(0, 0, 0, 0);
      opacity: 1;
      display: block;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='15' viewBox='0 0 17 15' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.4973 2.7334C12.6813 2.7334 12.8573 2.6594 12.9873 2.5284C13.1173 2.3984 13.1913 2.22139 13.1913 2.03839V0.995392C13.1913 0.612392 12.8813 0.301392 12.4973 0.301392C12.1143 0.301392 11.8033 0.611392 11.8033 0.995392V2.0374C11.8033 2.2214 11.8763 2.3974 12.0063 2.5274C12.1363 2.6594 12.3133 2.73239 12.4963 2.73239L12.4973 2.7334ZM5.4973 2.80341C5.9033 2.80341 6.2323 2.47341 6.2323 2.06841V0.968399C6.2323 0.562399 5.9043 0.233398 5.4983 0.233398C5.0923 0.233398 4.7633 0.563399 4.7633 0.968399V2.06841C4.7633 2.47441 5.0933 2.80341 5.4993 2.80341H5.4973ZM15.1493 1.7664H13.9973V2.2664C13.9973 3.0944 13.3273 3.7664 12.4973 3.7664C11.6693 3.7664 10.9973 3.0944 10.9973 2.2664V1.7664H6.9973V2.2664C6.9973 3.0944 6.3273 3.7664 5.4973 3.7664C4.6693 3.7664 3.9973 3.0944 3.9973 2.2664V1.7664H2.8453C2.3283 1.7664 1.8333 1.9804 1.4823 2.3614C1.1323 2.7414 0.956296 3.2514 0.998296 3.7664V13.7664C0.998296 14.3184 1.4463 14.7664 1.9983 14.7664H15.9983C16.5503 14.7664 16.9983 14.3184 16.9983 13.7664V3.7664C17.0183 2.7124 16.2033 1.8304 15.1503 1.7664H15.1493ZM14.9973 12.7664H2.9973V5.7664H14.9973V12.7664ZM6.3313 9.57339C5.9293 9.92039 5.5743 10.3154 5.2713 10.7504C5.0983 11.0354 4.9893 11.3564 4.9513 11.6884H8.2473V10.8154H6.3813C6.4353 10.7224 6.4993 10.6354 6.5713 10.5554C6.6513 10.4654 6.8393 10.2854 7.1363 10.0124C7.3563 9.81841 7.5623 9.60939 7.7513 9.38539C7.9063 9.19539 8.0333 8.9854 8.1283 8.7594C8.2083 8.5594 8.2483 8.34439 8.2483 8.12939C8.2553 7.75939 8.1033 7.4044 7.8313 7.1554C7.5173 6.8804 7.1083 6.7404 6.6913 6.7654C6.2973 6.7504 5.9113 6.86939 5.5913 7.10139C5.2693 7.38139 5.0793 7.7864 5.0663 8.2144L5.9963 8.3084C5.9923 8.0944 6.0633 7.8864 6.1963 7.7184C6.4643 7.4864 6.8603 7.4834 7.1313 7.7114C7.2513 7.8414 7.3133 8.0174 7.3013 8.1944C7.2943 8.4014 7.2243 8.60239 7.1013 8.76939C6.8673 9.05939 6.6093 9.32939 6.3313 9.57739V9.5724V9.57339ZM11.0373 11.6884H11.9473V10.7014H12.5573V9.87939H11.9473V6.76939H11.1573L9.0313 9.88339V10.7054H11.0373V11.6924V11.6874V11.6884ZM9.9103 9.8754L11.0363 8.1994V9.87939H9.9113V9.8754H9.9103Z' fill='%23C6CDD3'/%3E%3C/svg%3E") no-repeat center;
      width: 16px;
      height: 16px;
      transition: all 0.25s ease-in-out;

      &:hover {
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='15' viewBox='0 0 17 15' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.4973 2.7334C12.6813 2.7334 12.8573 2.6594 12.9873 2.5284C13.1173 2.3984 13.1913 2.22139 13.1913 2.03839V0.995392C13.1913 0.612392 12.8813 0.301392 12.4973 0.301392C12.1143 0.301392 11.8033 0.611392 11.8033 0.995392V2.0374C11.8033 2.2214 11.8763 2.3974 12.0063 2.5274C12.1363 2.6594 12.3133 2.73239 12.4963 2.73239L12.4973 2.7334ZM5.4973 2.80341C5.9033 2.80341 6.2323 2.47341 6.2323 2.06841V0.968399C6.2323 0.562399 5.9043 0.233398 5.4983 0.233398C5.0923 0.233398 4.7633 0.563399 4.7633 0.968399V2.06841C4.7633 2.47441 5.0933 2.80341 5.4993 2.80341H5.4973ZM15.1493 1.7664H13.9973V2.2664C13.9973 3.0944 13.3273 3.7664 12.4973 3.7664C11.6693 3.7664 10.9973 3.0944 10.9973 2.2664V1.7664H6.9973V2.2664C6.9973 3.0944 6.3273 3.7664 5.4973 3.7664C4.6693 3.7664 3.9973 3.0944 3.9973 2.2664V1.7664H2.8453C2.3283 1.7664 1.8333 1.9804 1.4823 2.3614C1.1323 2.7414 0.956296 3.2514 0.998296 3.7664V13.7664C0.998296 14.3184 1.4463 14.7664 1.9983 14.7664H15.9983C16.5503 14.7664 16.9983 14.3184 16.9983 13.7664V3.7664C17.0183 2.7124 16.2033 1.8304 15.1503 1.7664H15.1493ZM14.9973 12.7664H2.9973V5.7664H14.9973V12.7664ZM6.3313 9.57339C5.9293 9.92039 5.5743 10.3154 5.2713 10.7504C5.0983 11.0354 4.9893 11.3564 4.9513 11.6884H8.2473V10.8154H6.3813C6.4353 10.7224 6.4993 10.6354 6.5713 10.5554C6.6513 10.4654 6.8393 10.2854 7.1363 10.0124C7.3563 9.81841 7.5623 9.60939 7.7513 9.38539C7.9063 9.19539 8.0333 8.9854 8.1283 8.7594C8.2083 8.5594 8.2483 8.34439 8.2483 8.12939C8.2553 7.75939 8.1033 7.4044 7.8313 7.1554C7.5173 6.8804 7.1083 6.7404 6.6913 6.7654C6.2973 6.7504 5.9113 6.86939 5.5913 7.10139C5.2693 7.38139 5.0793 7.7864 5.0663 8.2144L5.9963 8.3084C5.9923 8.0944 6.0633 7.8864 6.1963 7.7184C6.4643 7.4864 6.8603 7.4834 7.1313 7.7114C7.2513 7.8414 7.3133 8.0174 7.3013 8.1944C7.2943 8.4014 7.2243 8.60239 7.1013 8.76939C6.8673 9.05939 6.6093 9.32939 6.3313 9.57739V9.5724V9.57339ZM11.0373 11.6884H11.9473V10.7014H12.5573V9.87939H11.9473V6.76939H11.1573L9.0313 9.88339V10.7054H11.0373V11.6924V11.6874V11.6884ZM9.9103 9.8754L11.0363 8.1994V9.87939H9.9113V9.8754H9.9103Z' fill='%232FC6F6'/%3E%3C/svg%3E") no-repeat center;
      }
    }

    &:focus {
      outline: none;
    }
  }

  textarea.input-wrapper__input {
    resize: vertical;
  }

  &__count {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 14px;
    line-height: 150%;
    color: var(--variable-7);
    pointer-events: none;
  }
}
