.container {
  font-size: 14px;
  line-height: 150%;
  vertical-align: top;

  &-header{
    justify-content: flex-start;
    gap: 50px;

    &__title{
      font-size: 26px;
    }
  }

  &-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 19px;
  }

  & .btn--transparent__svg {
    width: 6px;
    height: auto;
    margin-right: 10px;
  }
}




.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  min-width: 826px;

  &__top{
    position: relative;
  }

  &__type{
    margin: 0;
    display: inline-block;
    padding: 2px 12px;
    background-color: var(--red);
    color: var(--variable-19);
    border-radius: 5px;
    margin-bottom: 12px;
  }
  &__title {
    margin: 0;
    font-family: 'OpenSans';
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 12px;
    color: var(--variable-13);
  }

  &__date {
    margin: 0;
    font-size: 12px;
    color: var(--variable-7);
    font-weight: 300;
    margin-bottom: 16px;
  }

  &__subtitle {
    margin: 0;
    color: var(--variable-7);
    margin-bottom: 11px;
  }

  &__text {
    margin: 0;
    color: var(--variable-13);
    margin-bottom: 24px;
  }

  &__row {
    display: flex;
    margin-bottom: 16px;
  }

  &__name {
    flex: 0 0 150px;
    position: relative;
    color: var(--variable-7);
    &::after {
      content: url("../../assets/images/icons/info.svg");
      display: inline-block;
      position: relative;
      top: -4px;
      left: 0;
      text-align: right;
    }
    &-zhk:after {
      margin-left: 3px;
    }
    &-links:after {
      margin-left: 8px;
    }
    &-docs:after {
      margin-left: 12px;
    }
    &-tel:after {
      margin-left: 6px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__value:not(.news__value-zhk){
    display: block;
    margin-bottom: 4px;
    color: var(--variable-6);
    text-decoration: none;
  }

  &__edit {
    text-transform: uppercase;
    display: flex;
    position: absolute;
    top: 34px;
    right: 32px;
    color: var(--variable-15);
    gap: 5px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    svg path {
      transition: all 0.25s ease-in-out;
    }
    &:hover {
      color: var(--variable-12);
      svg path {
        fill: var(--variable-12);
      }
    }
  }

  &__bottom {
    padding: 23px 40px 55px;
  }

  &__label {
    margin: 0;
    color: var(--variable-13);
    margin-bottom: 20px;
  }

  &-add__preview{
    flex: 0 0 400px
  }
}



